<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <ol>
        {% for i in user_list %}
        <li>
            <p>{{ i.username }}</p>
            <p>{{ i.first_name }}</p>
            <p>{{ i.email }}</p>
            <p>{{ i.experience }}</p>
            <p>{{ i.gender }}</p>
            <p>{{ i.phone_number }}</p>
        </li>
        {% endfor %}
    </ol>

    <form action="{% url 'users:login' %}">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
</body>
</html>